<div class="klubsDialogWrapper">
  <h2 mat-dialog-title>{{klub ? "Izmeni" : "Dodaj"}} klub</h2>
  <form [formGroup]="form">
    <div>
      <mat-form-field>
        <input formControlName="naziv" matInput placeholder="Naziv">
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Mesto</mat-label>
      <mat-select [compareWith]="compareIds" formControlName="mesto">
        <mat-option *ngFor="let mesto of mesta"
                    [value]="mesto">
          {{mesto?.naziv}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="saveKlub()" [disabled]="form.invalid" color="primary" mat-stroked-button type="submit">
      Sačuvaj
    </button>
  </form>
</div>
