<div class="componentRootContentWrapper">
  <button (click)="openUtakmicaDialog()" class="addNewObjectTable" mat-flat-button color="primary">Dodaj klub</button>
  <table [dataSource]="dataSourceUtakmica" class="mat-elevation-z8" mat-table matSort matSortDisableClear>
    <ng-container matColumnDef="datumOdigravanja">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Datum odrzavanja</th>
      <td *matCellDef="let utakmica" mat-cell>{{utakmica.datumOdigravanja}}</td>
    </ng-container>
    <ng-container matColumnDef="klub.domacin">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Domacin</th>
      <td *matCellDef="let utakmica" mat-cell>{{utakmica.domacinId?.naziv}}</td>
    </ng-container>
    <ng-container matColumnDef="klub.gost">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Gost</th>
      <td *matCellDef="let utakmica" mat-cell>{{utakmica.gostId?.naziv}}</td>
    </ng-container>
    <ng-container matColumnDef="takmicenje.nazivTakmicenja">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Takmicenje</th>
      <td *matCellDef="let utakmica" mat-cell>{{utakmica.takmicenjeId?.nazivTakmicenja}}</td>
    </ng-container>
    <ng-container matColumnDef="option">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let utakmica" class="actionButtonsCol" mat-cell>
        <ng-container>
        <button (click)="openUtakmicaDialog(utakmica)" mat-stroked-button>Izmeni</button>
        <button (click)="deleteUtakmica(utakmica.id)" mat-flat-button>Obriši</button>
        </ng-container>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
