<div class="utakmicaDialogWrapper">
  <h2 mat-dialog-title>{{utakmica ? "Izmeni" : "Dodaj"}} utakmicu</h2>
  <form [formGroup]="form">
    <ng-container matColumnDef="datumOdigravanja">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Datum odrzavanja</th>
      <td *matCellDef="let utakmica" mat-cell>
        {{utakmica?.datumOdigravanja | date}}</td>
    </ng-container>
    <mat-form-field>
      <mat-label>Domacin</mat-label>
      <mat-select [compareWith]="compareIds" formControlName="domacinId">
        <mat-option *ngFor="let domacin of klubovi"
                    [value]="domacin">
          {{domacin?.naziv}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Gost</mat-label>
      <mat-select [compareWith]="compareIds" formControlName="gostId">
        <mat-option *ngFor="let gost of klubovi"
                    [value]="gost">
          {{gost?.naziv}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Takmicenje</mat-label>
      <mat-select [compareWith]="compareIds" formControlName="takmicenjeId">
        <mat-option *ngFor="let takmicenje of takmicenja"
                    [value]="takmicenje">
          {{takmicenje?.nazivTakmicenja}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="saveUtakmica()" [disabled]="form.invalid" color="primary" mat-stroked-button type="submit">
      Sačuvaj
    </button>
  </form>
</div>
