/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  padding: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#menu {
  min-width: 250px;
  overflow: hidden;
  padding: 0;

  mat-list-item{
    cursor: pointer;
    &:hover{
      background-color: lightblue;
    }
  }
}
