<div class="dialog-container">
  <h2 mat-dialog-title>Igrac</h2>
  <mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="save()">
      <div>
        <mat-form-field>
          <input matInput placeholder="" formControlName="ime">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input placeholder="" matInput formControlName="prezime">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="" formControlName="jmbg">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="" formControlName="pozicija" value="CB">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput formControlName="datumRodj" [matDatepicker]="picker" (click)="picker.open()" placeholder="Datum" readonly />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
<!--      <div>-->
<!--        <mat-form-field>-->
<!--          <input matInput placeholder="" formControlName="mesto">-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div>-->
<!--        <mat-form-field>-->
<!--          <input matInput placeholder="" formControlName="klub">-->
<!--        </mat-form-field>-->
<!--      </div>-->
      <div>
        <mat-form-field>
          <input placeholder="Slika" formControlName="slika" type="file">
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Nazad</button>
    <button class="mat-flat-button mat-primary" type="submit">Sačuvaj</button>
  </mat-dialog-actions>
</div>
