<mat-drawer-container>
  <mat-drawer mode="side" [opened]="true">
    <mat-list id="menu">
      <mat-list-item (click)="menu='players'">
        <mat-icon mat-list-icon>person</mat-icon>
        <div mat-line> Igrač</div>
      </mat-list-item>
      <mat-list-item (click)="menu='mesta'">
        <mat-icon mat-list-icon>person</mat-icon>
        <div mat-line> Mesta</div>
      </mat-list-item>
      <mat-list-item (click)="menu='klubovi'">
        <mat-icon mat-list-icon>person</mat-icon>
        <div mat-line> Klubovi</div>
      </mat-list-item>
      <mat-list-item (click)="menu='utakmice'">
        <mat-icon mat-list-icon>person</mat-icon>
        <div mat-line> Utakmice</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item (click)="logOut()">
        <mat-icon mat-list-icon>close</mat-icon>
        <div mat-line>Logout</div>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content style="height: 100vh">
    <div [ngSwitch]="menu" id="content-menu">
      <app-player-list *ngSwitchCase="'players'"></app-player-list>
      <app-mesta *ngSwitchCase="'mesta'"></app-mesta>
      <app-klub *ngSwitchCase="'klubovi'"></app-klub>
      <app-utakmica *ngSwitchCase="'utakmice'"></app-utakmica>
      <p *ngSwitchDefault>DEFAULT</p>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
