.login-wrapper{
  max-width: 250px;
  margin: 0 auto;

  mat-card{
    img{
      width: 90%;
      margin: 0 auto;
      padding: 0.5em;
    }

    .login-controls{
      width: 90%;
      margin: 0 auto;

      mat-form-field{
        width: 100%;
      }
    }
  }
}
