<div class="login-wrapper">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/ball.png" alt="Login logo">
    <mat-card-content>
      <div class="login-controls">
        <div>
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput #user placeholder="pera.peric">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput #pass placeholder="*********">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="login(user.value, pass.value)">
        <mat-icon>person</mat-icon>
        Login
      </button>
      <button mat-stroked-button color="accent">
        <mat-icon>sports_soccer</mat-icon>
        Register
      </button>
    </mat-card-actions>
  </mat-card>
</div>
