<div class="componentRootContentWrapper">
  <button (click)="openKlubDialog()" class="addNewObjectTable" mat-flat-button color="primary">Dodaj klub</button>
  <table [dataSource]="dataSourceKlub" class="mat-elevation-z8" mat-table matSort matSortDisableClear>
    <ng-container matColumnDef="naziv">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> naziv</th>
      <td *matCellDef="let klub" mat-cell>{{klub.naziv}}</td>
    </ng-container>
    <ng-container matColumnDef="mestoId.naziv">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Naziv mesta</th>
      <td *matCellDef="let klub" mat-cell>{{klub.mesto?.naziv}}</td>
    </ng-container>
    <ng-container matColumnDef="option">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let klub" class="actionButtonsCol" mat-cell>
        <ng-container>
        <button (click)="openKlubDialog(klub)" mat-stroked-button>Izmeni</button>
        <button (click)="deleteKlub(klub.id)" mat-flat-button>Obriši</button>
        </ng-container>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
