<div class="mestoDialogWrapper">
  <h2 mat-dialog-title>{{mesto ? "Izmeni" : "Dodaj"}} mesto</h2>
  <form [formGroup]="form">
    <div>
      <mat-form-field>
        <input formControlName="ptt" matInput placeholder="Ptt">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input formControlName="naziv" matInput placeholder="Naziv">
      </mat-form-field>
    </div>
    <button (click)="saveMesto()" [disabled]="form.invalid" color="primary" mat-stroked-button type="submit">
      Sačuvaj
    </button>
  </form>
</div>
