<div class="componentRootContentWrapper">
  <button (click)="openMestaDialog()" class="addNewObjectTable" mat-flat-button color="primary">Dodaj mesto</button>
  <table [dataSource]="dataSourceMesta" class="mat-elevation-z8" mat-table matSort matSortDisableClear>
    <ng-container matColumnDef="ptt">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Ptt</th>
      <td *matCellDef="let mesto" mat-cell>{{mesto.ptt}}</td>
    </ng-container>
    <ng-container matColumnDef="naziv">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Naziv mesta</th>
      <td *matCellDef="let mesto" mat-cell>{{mesto.naziv}}</td>
    </ng-container>
    <ng-container matColumnDef="option">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let mesto" class="actionButtonsCol" mat-cell>
        <ng-container>
        <button (click)="openMestaDialog(mesto)" mat-stroked-button>Izmeni</button>
        <button (click)="deleteMesto(mesto.id)" mat-flat-button>Obriši</button>
        </ng-container>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
